* {
	color: rgb(206, 206, 206);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.webTitle {
	color: #1978a3;
}
.songCard {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 700px;
	border-left: 7px solid green;
}

.songCardPinned {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 700px;
	border-left: 7px solid #1976d2;
	background-color: #0c2844;
	border-radius: 0px 50px 50px 0px;
}

.cardWrapper {
	margin-bottom: 40px;
}
.songPicture {
	max-width: 300px;
	display: flex;
}

body {
	font-family: sans-serif;
	background-color: #111111;
	background-image: url('./assets/cool-background-pattern.png');
	background-repeat: repeat;
	background-size: fill;
}
.container {
	display: block;
	width: 100%;
	height: 500px;
}
.cardContent {
	display: flex;
	justify-content: flex-start;
}

.songList {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: left;
	list-style: none;
	margin: auto auto;
	width: 390px;
	min-height: 250px;
}
.songList td {
	text-align: left;
	width: 100%;
	word-wrap: break-word;
}
.cardTitle {
	font-weight: bolder;
	font-size: 250%;
	width: 400px;
}

.cardSubTitleLV1 {
	font-size: 150%;
	width: 400px;
}
.cardSubTitleLV2 {
	font-style: normal;
	font-size: 100%;
	width: 400px;
}

.cardSubTitleLV3 {
	font-style: normal;
	font-size: 100%;
	width: 400px;
}

/* .songList tr:nth-child(even) {
	background-color: #1978a3;
}
.songList tr:nth-child(odd) {
	background-color: #164961;
} */

.containerBtn {
	margin: 30px auto;
	text-align: center;
	width: 100%;
}

.containerTextarea textarea {
	width: 300px;
	color: #777;
	display: block;
	margin: auto auto 15px auto;
	padding-bottom: auto auto;
	text-align: center;
}
.table {
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cardLamp {
	min-width: 5px;
	flex-direction: column;
	background-color: #1978a3;
}

.cardLamp-pinned {
	min-width: 5px;
	background-color: green;
}

.pinnedList {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin-top: 50px;
	margin-bottom: 10px;
	width: 705px;
	flex-direction: column;
	background-color: #1976d2;
	border-radius: 100px 100px 100px 0px;
}

.searchedList {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin-top: 50px;
	margin-bottom: 10px;
	width: 705px;
	flex-direction: column;
	background-color: green;
	border-radius: 100px 100px 100px 0px;
}

.submitBtn {
	width: 100px;
	height: 30px;
	border-color: rgba(0, 0, 0, 255);
	border-width: 2px;
	border-style: none;
	background-color: rgb(25, 120, 163);
	transition: all 0.1s;
	border-radius: 100%/90px;
}

.submitBtn:hover {
	background-color: #17a0df;
}

.submitBtn:active {
	border-width: 2px;
	border-style: solid;
	border-color: rgba(25, 120, 163, 255);
	background-color: rgb(209, 233, 255);
	color: black;
}

.textbox-title {
	display: block;
	width: 500px;
	margin: auto auto;
	text-align: center;
}

.submitConfirm {
	margin-top: 5px;
}

.container-textarea h1 {
	text-align: center;
}

.textInput {
	width: 300px;
	height: 20px;
	padding: 10px;
	color: #fff;
	font-size: large;
	border-color: #009d22;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-radius: 100px 100px 100px 100px;
}

.songListPinned {
	text-align: center;
	list-style: none;
	border: 5px solid #19a32b;
	margin: auto auto;
	margin-top: 30px;
}

.songListPinned td {
	text-align: center;
	width: 200px;
	max-width: 200px;
	word-wrap: break-word;
}

.songListPinned tr:nth-child(even) {
	background-color: #1f882d;
}
.songListPinned tr:nth-child(odd) {
	background-color: #144e12;
}

.removePinnedBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 550px;
	margin-top: -50px;
	width: 125px;
	height: 30px;
	border-color: rgba(0, 0, 0, 255);
	border-width: 2px;
	border-style: none;
	background-color: #1976d2;
	transition: all 0.1s;
	border-radius: 50px 50px 50px 50px;
}

.removePinnedBtn:hover {
	background-color: rgb(25, 120, 163);
}

.removePinnedBtn:active {
	border-width: 2px;
	border-style: none;
	border-color: rgba(25, 120, 163, 255);
	background-color: rgb(209, 233, 255);
	color: black;
}

.setPinnedBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 550px;
	margin-top: -50px;
	width: 125px;
	height: 30px;
	border-color: rgba(0, 0, 0, 255);
	border-width: 2px;
	border-style: none;
	background-color: green;
	transition: all 0.1s;
	border-radius: 50px 50px 50px 50px;
}

.setPinnedBtn:hover {
	background-color: darkgreen;
}

.setPinnedBtn:active {
	border-width: 2px;
	border-style: none;
	border-color: rgba(25, 120, 163, 255);
	background-color: rgb(209, 233, 255);
	color: black;
}

.searchBar {
	color: black;
	width: 250px;
	height: 0px;
	border-radius: 100px 100px 100px 100px;
	padding: 14px;
}

#search-text-box-label {
	color: #000;
}

.homeBarParent {
	display: flex;
	height: 95vh;
}

.homeLogo {
	width: 250px;
}

.homeLeftBar {
	display: flex;
	flex-direction: column;
	background-color: #1f1f1f;
	align-items: center;
	justify-content: center;
	width: 50vw;
}
.homeMiddleBar {
	display: flex;
	flex-direction: column;
	background-color: #009d22;
	align-items: center;
	justify-content: center;
	width: 5px;
}

.homeRightBar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	background-color: #121212;
	width: 50vw;

	background-image: url('./assets/cool-background-pattern.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.homeRightBarContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-left: 30px;
}

.homeLeftBarContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
	position: absolute;
	z-index: 0;
	display: flex;
	width: 100%;
	height: 5vh;
	align-items: center;
	justify-content: flex-start;

	background-color: black;
}

header {
	display: flex;
	width: 100%;
	height: 10vh;
	align-items: center;
	justify-content: flex-start;
	background-color: #1f1f1f;
}

.headerMenu {
	list-style: none;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	width: 30vw;
}

.headerMenu li {
	margin-left: 30px;
	text-align: center;
}

a {
	text-decoration: none;
}

.bodyContent {
	min-height: 94vh;
	margin: auto 50px;
}

.searchContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.aboutContent {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 85vh;
	justify-content: flex-start;
	align-items: center;
}
.aboutCard {
	width: 700px;
	height: 300px;
	text-align: center;
}

.aboutCard tr {
	width: 300px;
}
.aboutCard td {
	width: 300px;
	padding: 10px;
}
