.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




body {
  font-family: sans-serif;
}
.container {
  display: block;
  width: 100%;
  height: 500px;
}

table {
  text-align: center;
  list-style: none;
  border: 1px solid #000000;
  margin: auto auto;
}
td {
  text-align: center;
  width: 200px;
  max-width: 300px;
  word-wrap: break-word;
}

tr:nth-child(odd) {
  background-color: #aaa;
}

.btn {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

.container-textarea textarea {
  width: 300px;
  color: #777;
  display: block;
  margin: auto auto 15px auto;
  padding-bottom: auto auto;
  text-align: center;
}

.oreo {
  display: block;
  width: 175px;
  margin: auto auto;
}

.submitBtn {
  width: 100px;
  height: 30px;
  border-style: none;
  background-color: #cbe6f1;
  transition: all 0.1s;
}

.submitBtn:hover {
  background-color: #50cdff;
}

.submitBtn:active {
  background-color: #fff;
  border-style: solid;
}

.textbox-title {
  display: block;
  width: 500px;
  margin: auto auto;
  text-align: center;
}

.submitConfirm {
  margin-top: 5px;
}

.container-textarea h1 {
  text-align: center;
}

.textInput {
  width: 300px;
  color: #000;
  display: block;
  margin: auto auto 15px auto;
  padding-bottom: auto auto;
  text-align: center;
}
